#navShantuDash {
    margin-top: 40px;
    margin-bottom: 40px;
}

#intro_image_shantu_das {
    margin-top: 20px;
}

#intro_header_shantu_das {
    font-family: 'Inter UI', sans-serif;
}


/*
Publications style
*/
.publication {
    /*font-family: 'Inter UI', sans-serif;*/
}

/*publication One*/

#publication_one a {
    text-decoration: none;
    color: black;
}

/*publication Two*/
#publication_two a {
    text-decoration: none;
    color: black;
}

